<div class="container" style="margin-top: 100px;">
    <h4>Your Search Results...</h4>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck">
        <div *ngFor = "let movie of webService.movie_list | async" class="col-md-6 col-xs-12"> 
          <div class="card bg-light mb-3"
              [routerLink]="['/movies', movie._id]" style="cursor: pointer">
            <div class="card-header">
              {{ movie.title }}
            </div>
            <div class="card-body">
              <b>Plot Summary:</b>
              <p>{{ movie.overview }}</p>
            </div>
          </div>
        </div> <!-- col -->
      </div> <!-- Card Deck-->
      </div>   <!-- row -->
  </div>       <!-- container -->