<div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-lg-12" *ngFor = "let movie of webService.movie_list | async">
        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header"><h2>{{ movie.title }}</h2><span style="margin-right: 1rem; font-size: 0.7rem;">
              Release Date: {{ movie.release_date }}</span></div>
            <div class="card-body">
              <h4 class="card-title"> Runtime: <span style= "font-size: 0.9rem;">{{ movie.runtime }} mins</span></h4>
              <p class="card-text">{{ movie.overview }}</p>
              <p class="card-text"><b>Budget:</b> ${{ movie.budget | number: fractionsize }}</p>
            </div>
            <div class="card-footer">
              {{ movie.homepage }}
            </div>
        </div>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-lg-12">
        <div *ngFor = "let discussion of webService.discussions | async" class="col-md-6 col-xs-12"> 
          <div class="card bg-info mb-3">
            <div class="card-header">
              <span style="font-size: 0.9rem;">User: </span><b>{{ discussion.username }}</b>
              <div>Commented on: <span style="font-size: 0.9rem;">{{ discussion.date }}</span></div>
            </div>
            <div class="card-text">
              {{ discussion.text }}
            </div>
          </div>
        </div> <!-- col -->
    <span *ngIf = "!authService.isAuthenticated()"> <h5 style="text-align: center;">
          Please <span style="font-size: 1.5rem;"><b>log in</b></span> to join in on the conversation.
       </h5>
    </span>
      <span *ngIf = "authService.isAuthenticated()">
        <hr>
      <h3 style="text-align: left;">Join the Conversation!</h3>
      <form [formGroup] = "discussionForm" (ngSubmit)="onSubmit()">
        <fieldset>
        <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" 
              formControlName="name"
              [ngClass]="{ 'error' : isInvalid('name') } "
              [(ngModel)] = "discussion.name">
      </div>
      <div class="form-group">
        <label for="discussion">Comment:</label>
        <textarea id="discussion" rows="3" class="form-control" 
              formControlName="discussion"
              [ngClass]="{ 'error' : isInvalid('discussion') } "
              [(ngModel)] = "discussion.discussion">
            </textarea>
      </div>
      <button type="submit" class="btn btn-primary my-2 my-sm-0">Submit</button>
        </fieldset>
      </form>
    </span>
  </div>   <!-- row -->
  </div>       <!-- container -->
</div>
